{% extends 'base.html.twig' %}

{% block title %}Salut Todo!{% endblock %}

{% block body %}

<h1>test</h1>


		{% for message in app.session.flashBag.get('info') %}
			<div class="alert alert-info">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('success') %}
			<div class="alert alert-info">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('error') %}
			<div class="alert alert-info">
				{{message}}
			</div>
		{% endfor %}

		<h1>Liste des todos</h1>
		<ul class="list-group">
			{% for name,content in app.session.get('todos') %}
				<li class="list-group-item">
					{{name}}
					:
					{{content}}
				</li>
			
		{% endfor %}
</ul>

{% endblock %}


