{% extends 'template.html.twig' %}

{% block title %}Liste des personnes{% endblock %}



{% block body %}



                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Moyenne d'age entre {{ageMin}} et {{ageMax}} </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#"> {{ stats['ageMoyen']}} </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Nombre de personne entre {{ageMin}} et {{ageMax}} </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#"> {{ stats['nbrPersonne']}} </a>
                                    </div>
                                </div>
                            </div>
                     
                        </div>
                    

{% endblock %}